.outer {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    /* display: flex;
    justify-content: center; */
}

.center {
    width: 100%;
    text-align: center;
}

.cf-text {
    height: 70vh;
    border: 1px solid black;
    padding: 5px 10px;
}

.btn {
    margin-top: 20px;
    width: 150px;
    height: 48px;
    color: blue;
}